<head>
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="global/stylesheets/normalize.css" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="global/stylesheets/font-awesome.min.css"/>
    <link href="global/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="global/stylesheets/sweetalert.css"/>
    <!--doctor style-->
    <link rel="stylesheet" href="global/stylesheets/globalStyle.css"/>
    <!--[if lt IE 9]>
    <script src="global/javascripts/IE9/html5shiv.js"></script>
    <script src="global/javascripts/IE9/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="global/javascripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="global/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="global/javascripts/d3.min.js"></script>
    <script type="text/javascript" src="global/javascripts/global.js"></script>
    <!--弹出框 样式-->
    <script type="text/javascript" src="global/javascripts/highlight.js"></script>
    <script type="text/javascript" src="global/javascripts/sweetalert-dev.js"></script>
    <script type="text/javascript" src="three.js"></script>
    <script type="text/javascript" src="stats.js"></script>
    <script type="text/javascript" src="dat.gui.js"></script>
    <script type="text/javascript" src="OrbitControls.js"></script>
    <script type="text/javascript" src="Projector.js"></script>
</head>