<!DOCTYPE html>

<html>

<head>
    <title><%=title%></title>

    <style>
        body {
            margin: 0;
            overflow: hidden;
        }
        #markpoint{
            position:absolute;
            z-index: 9999;
            top:10% ;
            right:1%;
        }
        #eddit{
            position:absolute;
            z-index: 9999;
        }
        .forceText {
            fill: black ;
            text-anchor: middle;
            font-size: 20px;
            font-family: arial;
        }
    </style>
    <link href="global/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">

</head>
<body>

<div id="Stats-output">
</div>
<!-- Div which will hold the Output -->
<div id="obj"></div>
<div class="col-md-3 alert-success" id="markpoint" >
    <!--<button type="button" class="close" onclick="markclose()">¡Á</button>-->
    <blockquote class="heading pre-scrollable" style="padding: 0;margin:0;border:0"></blockquote>
</div>
<input id="point_id" value="" style="display: none">
<!-- Javascript code that runs our Three.js examples -->
<script type="text/javascript" src="three.js"></script>
<script type="text/javascript" src="global/javascripts/OBJLoader.js"></script>
<script src="CanvasRenderer.js"></script>
<script src="Projector.js"></script>
<script type="text/javascript" src="stats.js"></script>
<script type="text/javascript" src="dat.gui.js"></script>
<script type="text/javascript" src="global/javascripts/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="mark.js"></script>
<script type="text/javascript" src="global/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="global/javascripts/d3.min.js"></script>
<script type="text/javascript" src="global/javascripts/timeago.js"></script>
<script type="text/javascript" src="global/javascripts/timeago.zh-cn.js"></script>
<script type="text/javascript">
    var renderer, camera,scene;
    var objects = [];
 // once everything is loaded, we run our Three.js stuff.
    function init() {
        var stats = initStats();

        // create a scene, that will hold all our elements such as objects, cameras and lights.
        scene = new THREE.Scene();

        // create a camera, which defines where we're looking at.
        camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.1, 1000);

        // create a render and set the size
        renderer = new THREE.CanvasRenderer();
        renderer.setClearColor(new THREE.Color(0xaaaaff, 1.0));
        renderer.setSize(window.innerWidth, window.innerHeight);
        renderer.shadowMapEnabled = true;

        // position and point the camera to the center of the scene
        camera.position.x = 130;
        camera.position.y = 40;
        camera.position.z = 50;
        camera.lookAt(scene.position);
        scene.add(camera);

        // add spotlight for the shadows
        var spotLight = new THREE.DirectionalLight(0xffffff);
        spotLight.position.set(30, 40, 50);
        spotLight.intensity = 1;
        scene.add(spotLight);
        // add the output of the renderer to the html element
        document.getElementById("obj").appendChild(renderer.domElement);

        var mesh;
        var loader = new THREE.OBJLoader();
    console.log(loader);
        loader.load('global/images/pinecone.obj', function (loadedMesh) {
            var material = new THREE.MeshLambertMaterial({color: 0x5C3A21});
            // loadedMesh is a group of meshes. For
            // each mesh set the material, and compute the information
            // three.js needs for rendering.
            loadedMesh.children.forEach(function (child) {
                child.material = material;
                child.geometry.computeFaceNormals();
                child.geometry.computeVertexNormals();
            });

            mesh = loadedMesh;
            loadedMesh.scale.set(100, 100, 100);
            loadedMesh.rotation.x = 0.3;
            scene.add(loadedMesh);
            objects.push(loader);
        });


        render();


        function render() {
            stats.update();

//            if (mesh) {
//                mesh.rotation.y += 0.006;
//                mesh.rotation.x += 0.006;
////                mesh.rotation.y+=0.006;
//            }
            // render using requestAnimationFrame
            requestAnimationFrame(render);
            renderer.render(scene, camera);
        }

        function initStats() {

            var stats = new Stats();
            stats.setMode(0); // 0: fps, 1: ms

            // Align top-left
            stats.domElement.style.position = 'absolute';
            stats.domElement.style.left = '0px';
            stats.domElement.style.top = '0px';

            document.getElementById("Stats-output").appendChild(stats.domElement);

            return stats;
        }
    }
    window.onload =init;
 raycater();
</script>
</body>
</html>