<!DOCTYPE html>

<html>

<head>
    <title>Example 08.06 - Load OBJ model </title>
    <link href="global/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <script type="text/javascript" src="three.js"></script>
    <script type="text/javascript" src="global/javascripts/OBJLoader.js"></script>
    <!--<script type="text/javascript" src="../libs/stats.js"></script>-->
    <!--<script type="text/javascript" src="../libs/dat.gui.js"></script>-->

    <script src="CanvasRenderer.js"></script>
    <script src="Projector.js"></script>
    <style>
        body {
            /* set margin to 0 and overflow to hidden, to go fullscreen */
            margin: 0;
            overflow: hidden;
        }
        #markpoint{
            position:absolute;
            z-index: 9999;
            top:10% ;
            right:1%;
        }
        #eddit{
            position:absolute;
            z-index: 9999;
        }
        .forceText {
            fill: black ;
            text-anchor: middle;
            font-size: 20px;
            font-family: arial;
        }
    </style>
</head>
<body>
<script type="text/javascript" src="dat.gui.js"></script>
<script type="text/javascript" src="global/javascripts/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="mark.js"></script>
<script type="text/javascript" src="global/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="global/javascripts/d3.min.js"></script>
<script type="text/javascript" src="global/javascripts/timeago.js"></script>
<script type="text/javascript" src="global/javascripts/timeago.zh-cn.js"></script>
<div id="Stats-output">

</div>
<div id="obj"></div>
<div class="col-md-3 alert-success" id="markpoint" >
    <!--<button type="button" class="close" onclick="markclose()">×</button>-->
    <blockquote class="heading pre-scrollable" style="padding: 0;margin:0;border:0"></blockquote>
</div>
<input id="point_id" value="" style="display: none">
<!-- Javascript code that runs our Three.js examples -->
<script type="text/javascript">
    var renderer,camera,scene;
    var objects = [];
    init();
    function init() {
       scene = new THREE.Scene();
      camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.1, 1000);
        renderer = new THREE.WebGLRenderer();
        renderer.setClearColor(new THREE.Color(0xaaaaff, 1.0));
        renderer.setSize(window.innerWidth, window.innerHeight);
        renderer.shadowMap.enabled= true;
//        renderer.autoClear=false;
//        renderer.clear();
        camera.position.x = 100;
        camera.position.y =100;
        camera.position.z = 0;
//        camera.lookAt(scene.position);
        scene.add(camera);
        var spotLight = new THREE.DirectionalLight(0xffffff);
        spotLight.position.set(30, 40, 50);
        spotLight.intensity = 1;
        scene.add(spotLight);
        document.getElementById("obj").appendChild(renderer.domElement);
        var mesh;
        var loader = new THREE.OBJLoader();
        loader.load('models/pinecone.obj', function (loadedMesh) {
            var material = new THREE.MeshLambertMaterial({color: 0x5C3A21});

            loadedMesh.children.forEach(function (child) {
                child.material = material;
                child.geometry.computeFaceNormals();
                child.geometry.computeVertexNormals();
            });
            mesh = loadedMesh;
            loadedMesh.scale.set(150, 150, 150);
            loadedMesh.rotation.x = -0.3;
            scene.add(loadedMesh);
            objects.push(loadedMesh);
        });

        animate();
        raycater();
        recovery();
        function animate() {
            requestAnimationFrame( animate );
            render();
        }
        var step = 0;
        function render() {
            camera.position.y = Math.sin(step += 0.01) * 30;
            camera.lookAt( scene.position );
            renderer.render( scene, camera );
        }
      }
</script>
</body>
</html>